.sidebar {
    font-family: "Inter", sans-serif;
    top: 70px;
    bottom: 30px;
    z-index: 1000;
    /* height: calc(100vh - var(--mantine-header-height, 0px) - var(--mantine-footer-height, 0px)); */
    width: 300px;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    border-right: 1px solid rgb(233, 236, 239);
}

.mantine-1pfv4rc {
    display: flex;
    flex-direction: column;
    -moz-box-align: stretch;
    align-items: stretch;
    -moz-box-pack: start;
    justify-content: flex-start;
    gap: 0px;
    padding-right: 25px;
    padding-left: 25px;
}

.mantine-16kf70y {
    font-family: "Inter", sans-serif;
    color: inherit;
    font-size: 12px;
    line-height: 1.55;
    text-decoration: none;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    margin-top: 2px;
}

.mantine-16kf70y::after {
    content: "";
    flex: 1 1 0%;
    border-top: 1px solid rgb(206, 212, 218);
    margin-left: 10px;
}


.content_app {
    padding: 10px;
    margin-left: 320px;
}